<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cougar Card Balance Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setmax.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='image/apple-touch-icon.png') }}">
</head>
<body>
<h1>Set Maximum Daily Verification Requests - Cougar Card Balance Checker</h1>

<form id="form" method="post">
    {{ form.max.label }}
    {{ form.max }}<br><br>
    {{ form.submit }}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <p style="color: red;">{{ message }}</p>
        {% elif category == 'success' %}
          <p style="color: green;">{{ message }}</p>
        {% endif %}
      {% endfor %}
    {% endwith %}
</form>
</body>
</html>
